@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
p.classy{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
p.classu{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}
p.classi{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
}